$fontFamily: 'Helvetica';

$blackColor: #333333;
$whiteColor: #FFFFFF;
$primaryAccentColor: #0047E0;
$secondaryAccentColor: #5670A1;
$tertiaryAccentColor: #F1F6FF;
$disabledColor: #B0B0B0;
$borderColor: #EAEAEA;
$redColor: #FF5E65;