@import '../../styles/colors.scss';
@import '../../styles/reset.scss';

.layout-container {
    background: $whiteColor;
    position: relative;

    .layout {
        margin: 0px auto 72px auto;
        max-width: 1080px;
        padding: 1.45rem 1.0875rem;
        width: 100%;

        .sidebar {
            position: sticky;
            top: 1.45rem;
        }
    }
}