@import '../../styles/colors.scss';

.header-container {
    background: $accentColor;
    margin-bottom: 1.45rem;

    .header {
        margin: 0 auto;
        max-width: 960px;
        padding: 1.45rem 1.0875rem;

        h1 {
            margin: 0px;

            .header-link {
                color: $whiteColor;
                text-decoration: none;
            }
        }
    }
}