@import '../../styles/colors.scss';

.footer-container {
    .footer-wrapper {
        .ant-layout {
            .footer {
                &.ant-layout-footer {
                    background: $tertiaryAccentColor;
                    position: fixed;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}