@import '../../styles/colors.scss';

.footer-container {
    background: $tertiaryAccentColor;
    height: 64px;

    .footer-wrapper {
        .ant-layout {
            .footer {
                &.ant-layout-footer {
                    .social-icons-container {
                        .social-icons {
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;

                            a {
                                color: $blackColor;
                                height: 32px;
                                width: 48px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex: 0 1 48px;

                                .anticon {
                                    height: 100%;
                                    width: 100%;

                                    svg {
                                        height: 100%;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }

                    @media screen and (max-width: 768px) {
                        .social-icons-container,
                        .author-container {
                            margin-top: 1.45rem;
                        }
                    }
                }
            }
        }
    }
}